/*STATIC EFFECT?!?!?!
*/
/*@font-face {
  font-family: 'Straightfaced';
  src: url('/fonts/Straightfaced.ttf') format('truetype');
}*/

@font-face {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
body * {
    color: #FCDB47;
    font-family: Straightfaced;
}
.title {
    font-size: 50pt;
    text-align: center;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1000;
    background: -webkit-radial-gradient(rgb(13, 36, 93), rgb(13, 36, 93), rgb(2, 9, 14));
    background: -o-radial-gradient(rgb(13, 36, 93), rgb(13, 36, 93), rgb(2, 9, 14));
    background: -moz-radial-gradient(rgb(13, 36, 93), rgb(13, 36, 93), rgb(2, 9, 14));
    background: radial-gradient(rgb(13, 36, 93), rgb(13, 36, 93), rgb(2, 9, 14));
    background-attachment: fixed;
    background-size: 100% 100%;
}
.game-container {
    width: 100%;
    position: relative;
}
.image-container {
    top: 0;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    width: 500px;
    height: 500px;
}
.image {
    display: block;
    margin-left: 100px;
    margin-top: 150px;
    margin-right: auto;
    width: 300px
}
.button {
    margin-left: 200px;
}
.right-drop, .left-drop {
    width: 200px;
    height: 300px;
    z-index: -10;
}
.left-item-label, .right-item-label {
    text-align: center;
    font-size: 40px;
    transform: rotate(90deg);
    margin-top: 40px;
}
.left-item-label {
    float: right;
}
.right-item-label {
    float: left;
}
.right-drop {
    float: left;
    margin-left: 10px;
}
.left-drop {
    float: right;
    margin-right: 10px;
}
.result {
    top: 0;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    width: 300px;
    height: 300px;
}
.image-on-drag {
    border-radius: 50%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(169, 3, 41, 1) 0%, rgba(148, 2, 35, 0.51) 40%, rgba(143, 2, 34, 0.36) 50%, rgba(127, 1, 30, 0) 74%, rgba(109, 0, 25, 0) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(40%, rgba(148, 2, 35, 0.51)), color-stop(50%, rgba(143, 2, 34, 0.36)), color-stop(74%, rgba(127, 1, 30, 0)), color-stop(100%, rgba(109, 0, 25, 0)));
    /* Chrome,Safari4+ */
    
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169, 3, 41, 1) 0%, rgba(148, 2, 35, 0.51) 40%, rgba(143, 2, 34, 0.36) 50%, rgba(127, 1, 30, 0) 74%, rgba(109, 0, 25, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-radial-gradient(center, ellipse cover, rgba(169, 3, 41, 1) 0%, rgba(148, 2, 35, 0.51) 40%, rgba(143, 2, 34, 0.36) 50%, rgba(127, 1, 30, 0) 74%, rgba(109, 0, 25, 0) 100%);
    /* Opera 12+ */
    
    background: -ms-radial-gradient(center, ellipse cover, rgba(169, 3, 41, 1) 0%, rgba(148, 2, 35, 0.51) 40%, rgba(143, 2, 34, 0.36) 50%, rgba(127, 1, 30, 0) 74%, rgba(109, 0, 25, 0) 100%);
    /* IE10+ */
    
    background: radial-gradient(ellipse at center, rgba(169, 3, 41, 1) 0%, rgba(148, 2, 35, 0.51) 40%, rgba(143, 2, 34, 0.36) 50%, rgba(127, 1, 30, 0) 74%, rgba(109, 0, 25, 0) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#006d0019', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.image-off-drag {} .clear {
    clear: both;
}
