<ion-view title="create">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <br/>
        <br/>
        <label class="item item-input">
            <span class="input-label">url:</span>
            <input ng-model="image.url" type="text">
        </label>
        <button ui-sref="create.viewimage" class="button button-balanced button-block">choose</button>


    </ion-content>
</ion-view>
