<ion-view title="create">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <br/>
        <br/>
        <button ng-click="takePhoto()" class="button center icon-left ion-camera">take picture</button>
        <br/>
        <button ng-click="selectPhoto()" class="button center icon-left ion-images">select picture</button>
        <br/>
        <button ui-sref="create.submiturl" class="button center icon-left ion-link">url</button>


    </ion-content>
</ion-view>
