<ion-view title="create">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <br/>
        <br/>

           <img class="center" src="{{image.url}}" />

           is:{{image.is}}<br/>
           aint:{{image.aint}}
        <button ng-click="submitGame()" class="button button-energized button-block">
            create
        </button>


    </ion-content>
</ion-view>
