<ion-view title="create">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <br/>
        <br/>
        <img class="center" ng-src="{{image.url}}" />
        <button ng-click="confirmImage()" class="button button-balanced button-block">yes</button>
        <button ui-sref="create.imagetype" class="button button-assertive button-block">no</button>


    </ion-content>
</ion-view>
