<ion-view title="game">
    <ion-content class="padding">
        <br/>
        <br/>

        <div class="row">
            <button class="button button-positive button-block">
                random
            </button>
        </div>

        <div class="row">
            <button class="button button-calm button-block" ui-sref="mygames">
                my games
            </button>
        </div>

        <div class="row">
            <button class="button button-balanced button-block" ui-sref="receivedgames">
                received games
            </button>
        </div>
    </ion-content>
</ion-view>
