<ion-view title="my games">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <br/>
        <br/>

        <ul class="list">
            <li ng-click="onClick($index)" class="item item-thumbnail-left" ng-repeat="game in $parent.games">

                <img ng-src="{{game.imageUrl}}">
                <p>{{game.correctItem}}</p>
                <p>{{game.incorrectItem}}</p>
                <div ng-show="showButtons[$index]">
                    <button class="button button-balanced " ui-sref="play({game_id: '{{game._id}}' })">
                        play
                    </button>
                    <button class="button button-energized " ui-sref="send({game_id: '{{game._id}}' })">
                        send
                    </button>
                    <button class="button button-assertive " ui-sref="game">
                        delete
                    </button>
                </div>
            </li>


        </ul>
    </ion-content>
</ion-view>
