<ion-view title="play">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <br/>
        <br/>


        <td-card id="td-card" ng-repeat="game in games" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)">
            <div class="image">
                <div class="no-text">{{game.correctItem}}</div>
                <img ng-src="{{game.imageUrl}}">
                <div class="yes-text">{{game.incorrectItem}}</div>
            </div>
        </td-card>


    </ion-content>
</ion-view>