<ion-view title="requests">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            home
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <br/>
        <br/>

        <ul class="list">
            <li class="item" ng-repeat="request in $parent.requests">
                <p>{{request.name}}
                    <button ng-click="accept($index)" class="button button-positive button-block">
                        accept
                    </button>
                </p>
            </li>
        </ul>
    </ion-content>
</ion-view>
