<ion-view title="welcome" hide-back-button="true">
    <ion-content class="padding">
        <br/>
        <br/>
        <div class="row">
            <button class="button button-balanced button-block" ui-sref="login">
                login
            </button>
        </div>
        <div class="row">
            <button class="button button-energized button-block" ui-sref="signup">
                sign up
            </button>
        </div>
        <div class="row">
            <button class="button button-dark button-block" ui-sref="create.imagetype">
                test
            </button>
        </div>

    </ion-content>
</ion-view>
