<ion-view title="welcome">
    <ion-content class="padding">
        <br/>
        <br/>

        <head>
            <link rel="stylesheet" href="ionic.css">
        </head>

        <div class="row">
            <button class="button button-positive button-block">
                signin
            </button>
        </div>

        <div class="row">
            <button class="button button-calm button-block">
                login
            </button>
        </div>


    </ion-content>
</ion-view>
